@tailwind base;
@tailwind components;
@tailwind utilities;

.embla {
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.embla__viewport {
  overflow: hidden;
  width: 100%;
}

.embla__container {
  width: 120%;
  backface-visibility: hidden;
  will-change: transform;
  padding: 20px;
  display: flex;
  gap: 20px;
}

/* controlls slide size */
.embla__slide {
  flex: 0 0 20%;
  /* Ensure slides don't shrink AND DETERMINES HOW MUCH OF SLIDE YOU CAN SEE IN VP*/
  box-sizing: border-box;
  text-align: center;
  padding-left: 16px;
  min-width: 0;

}

.embla__prev,
.embla__next {
  position: absolute;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  padding: 20px;
  cursor: pointer;
  z-index: 10;
}

.embla__prev {
  left: -5%;
  /* Adjust to position outside the carousel */
}

.embla__next {
  right: -5%;
  /* Adjust to position outside the carousel */
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  position: relative;
  z-index: 99;
  color: white;
  height: 100vh;
  color: rgb(0, 0, 0);
  background: linear-gradient(to right,
      rgb(255, 146, 191),
      rgb(184, 158, 255),
      rgb(176, 223, 255));
}

div.bg-fade {
  background: linear-gradient(to bottom,
      transparent 0%,
      rgb(255, 255, 255) 100%);
  height: 100vh;
}

.convertor-Input ::before{
border-bottom: none;
}

.convertor-Input ::after{
  border-bottom:none;
  }

  .convertor-Input ::hover{
    border-bottom:none
    ;
    }

  .css-j218zi-MuiInputBase-root-MuiInput-root-MuiSelect-root::before {
    border-bottom:none;
    left: 0;
    bottom: 0;
    content: "\00a0";
    position: absolute;
    right: 0;
    -webkit-transition: none;
    transition: none;
    pointer-events: none;
}

css-j218zi-MuiInputBase-root-MuiInput-root-MuiSelect-root:hover {
  border-bottom:none;
}